/*=================================
| | | | | | Default Themes | | | | | |
=====================================*/
/*===================================
font: Raleway and Open Sans 
Colors:
Moon Yellow: #f4c613
Grey: #212226
White Smoke: #f4f4f4
White: #fff
Black: #000
===================================*/

/*=================================
| | | | | | HTML Body | | | | | |
=====================================*/
html,
body {
  height: 100%;
}
body {
  color: #212226;
}
h1,
h2 h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 400px;
  line-height: 24px;
}
section {
  background: #fff;
  overflow: hidden;
}

/* Preloader */
#preloader {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

#status {
  background-image: url("../img/preloader/preloader.gif");
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  margin-left: -35px;
}
/*=================================
| | | | | | Slider button | | | | | |
=====================================*/
.owl-theme .owl-nav [class*="owl-"] {
  color: #212226;
  background: none;
  font-size: 40px;
  margin: 0;
}
.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
  color: #000;
}

/*=================================
| | | | | | Home | | | | | |
=====================================*/
#home {
  background: none;
  height: 100%;
}
#home1 {
  background: none;
  height: 50%;
}
#home-bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background-size: cover;
}
#home-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#home-content {
  width: 100%;
  height: 100%;
  display: table;
}
#home-content1 {
  width: 100%;
  height: 50%;
  display: table;
}
#home-content-inner {
  display: table-cell;
  vertical-align: middle;
}
#home-heading h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
}
#home-heading #home-heading-11 {
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  margin: 150px 0 0 0;
  display: inline-block;
}
#home-heading h1 span {
  color: #f4c613;
  font-weight: 500;
}
#home-text p {
  color: #fff;
  font-size: 17px;
  font-weight: 100;
  margin: 8px 0 30px 0;
}

/*=================================
| | | | | | Buttons | | | | | |
=====================================*/

.btn-general {
  font-family: "Raleway", sans-serif;
  border-radius: 28px;
  text-transform: uppercase;
  margin: 0 6px;
  padding: 12px 46px 12px 46px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-yellow {
  color: #fff;
  background-color: #f4c613;
  border: 1px solid #f4c613;
}

.btn-yellow:hover,
.btn-yellow:focus {
  color: #fff;
  background-color: #212226;
  border: 1px solid #212226;
}
.btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 3px 15px;
  border-radius: 4px;
  font-size: 22px;
  display: none;
}

/*=================================
| | | | | | Arrow Down | | | | | |
=====================================*/
#arrow-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: #fff;
  font-size: 32px;
  width: 32px;
  height: 32px;
  text-align: center;
  margin-left: -16px;
  z-index: -1;
}
#arrow-down:hover,
#arrow-down:focus {
  color: #f4c613;
}

/*=================================
| | | | | | Content Boxes | | | | | |
=====================================*/

.content-box-lg {
  padding: 120px 0;
}

.content-box-md {
  padding: 100px 0;
}
.content-box-sm {
  padding: 90px 0;
}

/*=================================
| |  Vertical/Horizontal Headings | |
=====================================*/
.vertical-heading h5 {
  color: #f4c613;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  word-spacing: 9px;
  display: inline-block;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: relative;
  top: 60px;
  left: -53px;
}
.vertical-heading h2 {
  margin: 0 0 0 35px;
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
}
.horizontal-heading {
  margin-bottom: 80px;
}
.horizontal-heading h5 {
  font-size: 16px;
  color: #f4c613;
  display: inline-block;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.horizontal-heading h2 {
  margin: 0;
  font-size: 42px;
  font-weight: 100;
  line-height: 45px;
}
/*=================================
| | | | | | About 01 | | | | | |
=====================================*/
#about-right p:first-child {
  margin-bottom: 30px;
}

#about-bottom {
  margin-top: 60px;
}
#about-bottom img {
  margin: 0 auto;
}
/*=================================
| | | | | | About 02 | | | | | |
=====================================*/
#about-02 {
  background-color: #f4f4f4;
}

.about-item {
  background-color: #fff;
  padding: 80px 30px;
  -webkit-box-shadow: 0 0 10px rgba(158, 34, 34, 0.1);
  box-shadow: 0 0 10px rgba(158, 34, 34, 0.1);
}
.about-item i {
  font-size: 42px;
  margin: 0;
}
.about-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
}
.about-item hr {
  width: 45px;
  height: 3px;
  background-color: #f4c613;
  margin: 0 auto;
  border: none;
}
.about-item p {
  margin-top: 20px;
}
/*=================================
| | | | | | Hover State | | | | | |
=====================================*/
.about-item:hover {
  background-color: #f4c613;
}
.about-item:hover i,
.about-item:hover p,
.about-item:hover h3 {
  color: #fff;
}
.about-item:hover hr {
  background-color: #fff;
}
.about-item:hover i {
  transform: translateY(-20px);
}

/* Smooth Transition */
.about-item,
.about-item i,
.about-item hr {
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.about-item h3,
.about-item p {
  transition: all 400ms linear;
}

/*=================================
| | | | Statement Section | | | | | |
=====================================*/
#statement {
  background: url("../img/tech/tech-quote.jpg") no-repeat fixed center;
  background-size: cover;
}
#statement .content-box-lg {
  background: rgba(0, 0, 0, 0.3);
}
#tech-statement h3 {
  color: #fff;
  font-size: 28px;
  line-height: 45px;
}
#tech-statement p {
  font-size: 16px;
  color: #f4c613;
  font-family: "Raleway", sans-serif;
  margin-top: 8px;
}

/*=================================
| | | | Services Section | | | | | |
=====================================*/
#services-01 img {
  margin: 60px 0;
}
.service {
  margin: 35px 0;
}
.service .icon {
  font-size: 42px;
  margin: 0;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}
.service:hover .icon {
  color: #f4c613;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}
.service h5 {
  color: #f4c613;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 6px 0;
}
.service:hover h5 {
  color: #212226;
}
.service h4 {
  font-size: 24px;
  margin: 0 0 8px 0;
}
.service p {
  line-height: normal;
}
/*=================================
| | | | | | Testimonial  | | | | | |
=====================================*/
#testimonials {
  background: #f4f4f4;
  padding-bottom: 45px;
  overflow: visible;
}
#testimonials .vertical-heading {
  padding: 80px 0;
  margin-bottom: 50px;
}
#testimonial-slider {
  background: #f4c613;
  top: -120px;
}
.testimonial .row {
  margin-bottom: 25px;
}
.testimonial {
  padding: 20px 45px 0 45px;
  color: #fff;
}
.testimonial h3 {
  font-size: 32px;
  line-height: 35px;
}
.testimonial .stars {
  font-size: 20px;
  margin: 20px 0 10px 0;
}
.testimonial p {
  line-height: normal;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 20px;
}
.testimonial .author .author-name-des {
  width: 106px;
  margin-top: 25px;
  text-align: left;
}
.author .author-name-des p {
  margin: 0;
}
/*=================================
| | | | | | Partners  | | | | | |
=====================================*/

#partners .horizontal-heading {
  margin-bottom: 30px;
}
#partners-list {
  padding: 45px 0 0 0;
}
.partner {
  padding: 0 10px;
  max-width: 150px;
  margin: 0 auto;
  line-height: 100px;
}
.partner img {
  display: inline-block !important;
}

/*=================================
| | | | | | Footer  | | | | | |
=====================================*/
.footer {
  background: #212226;
  padding: 30px;
}
.footer p {
  color: #fff;
  line-height: 20px;
  margin: 0;
}
.footer p span {
  color: #f4c613;
}
/*=================================
| | | | | |Contact | | | | | |
=====================================*/
/* Contact-Left */
#contact-left p {
  margin: 25px 0 20px 0;
}
ul.office-details {
  list-style: none;
  padding: 0;
}
ul.office-details li {
  font-family: "Open Sans", sans-serif;
  margin-top: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
ul.office-details li i {
  font-size: 20px;
  width: 45px;
}

/* Contact Right */
#contact-right {
  padding: 25px 30px;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.one1 {
  margin-left: 100px;
}
#contact-right h4 {
  font-size: 24px;
}
#contact-right p {
  margin-bottom: 25px;
}
#contact-right form .form-control {
  font-family: "Open Sans", sans-serif;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 24px;
}
#contact-right form textarea.form-control {
  min-height: 164px;
}
.login-page {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}
.form1 {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto 50px;
  padding: 45px;
  text-align: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.form2 {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0;
  padding: 45px;
  text-align: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.form input {
  font-family: "Open Sans", sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-form h4 {
  font-size: 24px;
}
#contact-left h4 {
  font-size: 24px;
}
/*=================================
| | | | | | Navigation  | | | | | |
=====================================*/
.navbar {
  padding: 35px 0 20px 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.site-nav-wrapper {
  padding: 0 85px;
}
.navbar-brand {
  padding: 13px 15px;
}
ul.navbar-nav > li > a {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
}

ul.navbar-nav li a:hover,
ul.navbar-nav li a:focus {
  background: none;
  color: #f4c613;
}

/* White Navigation */
.white-nav-top {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0 8px 6px -9px #999;
  z-index: 2;
}
.white-nav-top ul.navbar-nav li a {
  color: #212226;
}
.white-nav-top ul.navbar-nav li a:hover,
.white-nav-top ul.navbar-nav li a:focus {
  color: #f4c613;
}

/*=================================
| | | | | |Animation | | | | | |
=====================================*/
#home-heading-1,
#home-heading-1,
#home-text,
#home-btn,
#arrow-down i {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}

#home-heading-1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
#home-heading-1 {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}
#home-text {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
#home-btn {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
#arrow-down i {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

/*=================================
| | | | | | Mobile Menu  | | | | | |
=====================================*/
#navbar-header {
  position: relative;
}
#mobile-nav-open-btn {
  font-size: 30px;
  color: #f4c613;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 6px;
  /* Hide mobile nav open btn */
  display: none;
}
#mobile-nav {
  /* Hide mobile button nav by default when height= 0%*/
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  overflow: hidden;
}
#mobile-nav-close-btn {
  font-family: "Raleway", sans-serif;
  font-size: 70px;
  color: #212226;
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  top: -9px;
  right: 13px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*=================================
| | | | | |Table | | | | | |
=====================================*/
table,
thead,
tbody,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
table {
  width: 80%;
}
th,
td {
  padding: 10px;
  text-align: center;
}
th {
  background-color: #f4c613;
  color: #fff;
}
tr:nth-child(even) {
  background-color: #f4f4f4;
}
tr:nth-child(odd) {
  background-color: #fff;
}
